@import url("@fontsource/inter/100.css");
@import url("@fontsource/inter/200.css");
@import url("@fontsource/inter/300.css");
@import url("@fontsource/inter/400.css");
@import url("@fontsource/inter/500.css");
@import url("@fontsource/inter/600.css");
@import url("@fontsource/inter/700.css");
@import url("@fontsource/inter/800.css");
@import url("@fontsource/inter/900.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  overflow: scroll;
  transition-duration: 0.25s;
}

pre {
  overflow: scroll;
}

code {
  overflow: scroll;
}

::-moz-selection {
  /* Code for Firefox */
  background: #f97316;
}

::selection {
  background: #f97316;
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.markdown-body {
  font-family: Inter;
  line-height: 1.8;
}

.markdown-body a {
  color: #fb923c;
}

.markdown-body pre {
  @apply bg-slate-800;
}

textarea:focus,
input:focus {
  outline: none;
}

.markdown-body ul {
  list-style-type: disc;
}
