@import url("@fontsource/inter/100.css");
@import url("@fontsource/inter/200.css");
@import url("@fontsource/inter/300.css");
@import url("@fontsource/inter/400.css");
@import url("@fontsource/inter/500.css");
@import url("@fontsource/inter/600.css");
@import url("@fontsource/inter/700.css");
@import url("@fontsource/inter/800.css");
@import url("@fontsource/inter/900.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  transition-duration: 0.25s;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

pre {
  overflow: scroll;
}

code {
  overflow: scroll;
}

::-moz-selection {
  /* Code for Firefox */
  background: #f97316;
}

::selection {
  background: #f97316;
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.markdown-body {
  font-family: Inter;
  line-height: 1.8;
}

.markdown-body a {
  color: #fb923c;
}

.markdown-body pre {
  @apply bg-slate-800;
}

textarea:focus,
input:focus {
  outline: none;
}

.markdown-body ul {
  list-style-type: disc;
}

.math {
  transform: scale(1.5);
  overflow: hidden;
}

.markdown-body hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.1)
}

.markdown-body h1 {
  border: none;
}

.markdown-body h2 {
  border: none;
}

.markdown-body td {
  @apply bg-slate-800;
  @apply border;
  @apply border-slate-700;
}

.markdown-body thead {
  @apply bg-slate-800;
  @apply border;
  @apply border-slate-700;
}

.markdown-body tr {
  @apply bg-slate-800;
  @apply border;
  @apply border-slate-700;
}

.markdown-body th {
  @apply bg-slate-800 border border-slate-700
}
